.inputBox {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 1px;
}

.inputBox input {
    width: auto;
    font-size: 20px;
    padding: 5px 10px;
    color: var(--main-some-light-color);
    border: 2px solid var(--main-color);
    outline: none;
    border-radius: 15px;
}

.inputBox label {
    padding-left: 14px;
    font-size: 24px;
    color: var(--main-color);
}

.inputBox input:hover,
.inputBox input:focus{
    border: 2px solid var(--main-light-color);
}

.inputBox label:hover{
    color: var(--main-light-color);
}



